body, html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #484848;
	background: #ffffc8;
}

html, body, #container {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

html>body, html>body #container {
	height: auto;
}

ul {
	padding: 0px 0px 0px 20px;
	margin-top: -10px;
}
li {
	padding: 0px 0px 0px -30px;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
}

.rightpanel {
	float: left;
	width: 530px;
	background: #ffffc8;
	margin: 0px 0px 0px -20px;
	padding: 0px 0px 0px 0px;
}
.leftpanel {
/*	float: left;*/
	width: 50%;
}

#base {
	width: 820px;
	margin: -20px auto;
	padding: 0px 0px 0px 0px;
}

#header {
	background: #27701c;
	color: #fff;
	font-family: Newtown, Arial, Helvetica, sans-serif;
	margin: 0px 0px -10px 0px;
}

#header h1 {
	font-size: 250%;
	padding-left: 300px;
	margin-bottom: -12px;

}

#header h2 {
	padding-left: 330px;
	padding-bottom: 3px;
	font-size: 150%;
}

/* The settings for the black colors */

.black {
	color: #AAF39E;
	background: inherit;
}

/* The navigation settings */

#navigation {
	background: #27701c;
	color: inherit;
	padding: 3px 0px 10px 0px;
}

#navigation li {
	display: inline;
/*	float: left;*/
	padding-left: 10px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 4px 0px 0px 5px;
}

#navigation a:link, #navigation a:visited{
	color:#fff;
	background: #27701c;
	text-decoration: none;
	border-bottom: 10px solid #27701c;
}

#navigation a:hover {
	color: #fff;
	background: #27701c;
	border-bottom: 10px solid #ffffc8;
}

/* The settings for the content */

#content {
	border-top: 5px solid #ffffc8;
}

/* The links for the content */

#content a:link, #content a:visited {
	color: #0059AE;
	background: inherit;
	font-weight: bold;
	text-decoration: none;
}

#content a:hover, #content a:focus, #content a:active {
	color: #0059AE;
	background: inherit;
	text-decoration: underline;
	font-weight: bolder;
}

/* The heading for the content */

#content h1 {
	background: #27701c;
	color:#fff;
	font-size: 130%;
	padding-left: 10px;
	font-weight: 200;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: -5px;
}

/*This lets the big image be place on the left */

.leftpanel img {
	float: left;
	padding: 0px 30px 10px 0px;
}

.rightpanel p {
	width: 100%;
	font-size: 18px;
}

/* Bottom to colums*/

.bottomcontent {
	clear: both; 
}

.bottomcontent  img {
	float: right;
	border: 10px solid #ffffc8;
	margin-top: 5px;
}

.bottomleft{
	float: right;
	border-top:  3px solid #ffffc8;
	border-bottom:  3px solid #ffffc8;
	border-right:  3px solid #ffffc8;
	border-left: 20px solid #ffffc8;
	width: 320px;
}

.bottomright {
	border-top:  3px solid #ffffc8;
	border-left:  3px solid #ffffc8;
	border-bottom:  3px solid #ffffc8;
	border-right: 20px solid  #ffffc8;
	width: 320px;
	float: right;
}

/* The footer settings*/

#footer {
	bottom: 0px;
	position: static;
	background: #27701c;
	color: #fff;
	width: 820px;
/*	height: 30px; */
	text-indent: 10px;
	padding: 5px 8px 5px 8px;
	clear: both;
/*	margin-top: 5px; */
	border-bottom: 8px solid #ffffc8;
	border-top: 5px solid #ffffc8;
	font-size: 85%;
}

#footer a:link, #footer a:visited {
	color: #fff;
	background: inherit;
	text-decoration: none;
}

#footer a:hover, #footer a:focus, #footer a:active {
	color: #fff;
	background: inherit;
	text-decoration: underline;		
}
#social {
	text-align: center;
	margin: 0 auto;
	clear: both;
	background: #27701c;
	width: 820px;
	padding: 5px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
}
.social {
	border: 0px;
	width: 32px;
}
#flashMessage {
	background: #27701c;
/*	border: 1px solid #000; */
}
.message {
	font-size: 120%;
	color: #fff;
}
#social form {
	display: inline;
	clear: none;
	padding: 0px 0px 0px 0px;
}
#social input {
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	vertical-align: top;
}
div.submit {
	display: inline;
}
div.maillist {
	display: inline;
	padding: 0px 5px 5px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}
#families.ui-dialog-content, #patients.ui-dialog-content {
	background: #fff;
	font-size: 120%;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar-close span {
	padding: 0px 5px 5px 0px;
	background: url(../img/close-cross.png) no-repeat;
}
.ui-dialog .ui-dialog-titlebar {
	background: #FFFFFF;
	border-bottom: 1px dotted #C9C9C9;
	color: #18BBBE;
}
.ui-dialog .ui-dialog-title {
	font-size: 23px;
}

.ui-dialog .ui-dialog-content {
	background: #F2f2f2;
}
#sectionone img {
	padding: 0px 0px 0px 130px;
	margin: 0px 0px 0px 0px;
}
.contactus {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 50px;
}
/*
*/
